body{
    background-color: #673ab7;
    color: aliceblue;
}
.container{
    /* background-color: #d3bbff; */
    border: 1px solid white;

}
.p50{
    padding: 50px;
}
.color-1{
    background-color: #ffffff;
    /* background-color: #d3bbff; */
    color: rgb(0, 0, 0);
    padding: 10px;
}

.height-500{
    min-height: 500px;
}